body{
    background-color: #ebebeb;
}
.header__nav a{
    background-color: #eac926;
    text-align: center;
    width: 100%;
}
.product{
    background-color: #fff;
}

.product-data img{
    width: 30px;
}

.footer--info{
    text-align: center;
}

.header__nav{
    display: flex;
    flex-direction: column;
}

.banner{
    display: none;
}

@media (min-width: 768px){
    body {
        display: flex;
        background-color: blue;
    }
    .banner{
        display: flex;

    }
}

@media (min-width: 1024px) {
    .header__nav {
        display: flex;
        width: 100%;
        
    }
    
}

